header {
    background-color: #fff;
    color: #155EEF;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.logo {
    height: 50px;
    width: 197px;
    left: 55px;
    top: 2px;
    border-radius: nullpx;
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    font-family: Halant;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 25px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
   
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 25px;
}

.active {
    border: 1px solid #155EEF;
    border-radius: 5px;
    color:#155EEF;
    ;
}

nav ul li a:hover {
    color: #155EEF;
}

/*Hero styles*/

.hero {
    background-color: #ffffff;
    padding: 50px;
    margin: 20px;
    border: 2px solid #155EEF;
    border-radius: 8px;
    background-color: #F9FBFF;

}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    flex-basis: 50%;
}

.hero-paragraph {
    font-family: Halant;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: left;

}

.hero-text h2 {
    color: #155EEF;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Halant;
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;

}

.hero-text p {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #155EEF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    height: 486px;
    width: 514px;
    left: 766px;
    top: 64px;
    border-radius: 0px;

}


/*About me styles*/


.about-me {
    background-color: #ffffff;
    padding: 50px;
    margin: 20px;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.about-me-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-image img {
    max-width: 100%;
    height: auto;
    height: 384px;
    width: 535px;
    left: 8px;
    top: 8px;
    border-radius: 0px;

}

.about-me-text {
    flex-basis: 50%;
}

.about-me-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    height: 48px;
    width: 196px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: Halant;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;


}

.about-me-text p {
    font-size: 16px;
    margin-bottom: 20px;
    height: 216px;
    width: 604px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: justified;


}


/* Projects styles*/

.projects {
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    padding: 50px;
    margin: 20px;
    border: 2px solid #155EEF;
    border-radius: 8px;
    position: relative;


}

.projects-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.projects-text {
    flex-basis: 50%;
    background-color: #F9FBFF;
    width: 693px;
    height: 606px;
    top: 0;
    left: 32px;
    padding: 32px, 24px;
    margin: 12px;
    gap: 24px;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.5px;
    text-align: left;
    position: absolute;
}





.projects-image img {
    max-width: 100%;
    height: auto;
    height: 539px;
    width: 710px;
    left: 570px;
    top: 196px;
    border-radius: 0px;
    margin-top: 75px;
    margin-right: 55px;
}



/*footer styles*/

footer {
    background-color: #fff;
    color: #155EEF;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.logo {
    display: flex;
    align-items: center;
    height: 50px;
    width: 205px;
    left: 55px;
    top: 2px;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-links ul li {
    display: inline-block;
    margin-right: 10px;
}

.social-links ul li:last-child {
    margin-right: 0;
}

.social-links ul li a {
    display: block;
}

.social-links ul li a img {
    height: 20px;
    width: 20px;
    left: 2px;
    top: 2px;
    border-radius: 0px;
}

.social-links ul li a img:hover {
    opacity: 0.7;
}

.copyright {
    text-align: right;
    color: #041330;
    width: 305px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;

}