header {
    background-color: #fff;
    color: #155EEF;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #155EEF;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #155EEF;
}

/*Hero styles*/

.hero {
    background-color: #ffffff;
    padding: 50px;
    margin: 20px;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hero-text {
    flex-basis: 50%;
}

.hero-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #155EEF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}


/*About me styles*/


.about-me {
    background-color: #ffffff;
    padding: 50px;
    margin: 20px;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.about-me-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-image img {
    max-width: 100%;
    height: auto;
}

.about-me-text {
    flex-basis: 50%;
}

.about-me-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-me-text p {
    font-size: 16px;
    margin-bottom: 20px;
}


/*footer styles*/

footer {
    background-color: #fff;
    color: #155EEF;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 8px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-links ul li {
    display: inline-block;
    margin-right: 10px;
}

.social-links ul li:last-child {
    margin-right: 0;
}

.social-links ul li a {
    display: block;
}

.social-links ul li a img {
    height: 30px;
}

.social-links ul li a img:hover {
    opacity: 0.7;
}

.copyright {
    text-align: right;
    color: #000;
}